<%- include('partials/head') %>

<section class="detailContainer">
    <img src="https://fdnd-agency.directus.app/admin/content/oba_item<%= item.afbeelding %>" alt="item image">
    <article class="itemDetail-description">
        <h2></h2>
        <p><strong>Beschrijving:</strong><%= items.description %></p>
        <p><strong>Uitgever:</strong> <%= items.publisher %></p>
        <p><strong>Auteur:</strong> <%= items.auteur %></p>
        <p><strong>Genre:</strong> <%= items.genre %></p>
        <p><strong>Taal:</strong> <%= items.language %></p>
        <p><strong>Editie:</strong> <%= items.editie %></p>
        <p><strong>Prijs:</strong> <%= items.price %></p>
        <p><strong>ISBN Nummer:</strong> <%= items.ISBN %></p>
    </article>

</section>

<%- include('partials/foot') %>