{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/gallery.css">

<main>
        <!--Gallery section-->
        <section class="all-objects" id="gallery">
            <ul class="object-container">
    
                {% for art_object in art_objects %}
                <li>
                    <article class="object">
                        <a href="/art/{{art_object.id}}">
                            <img src="https://fdnd-agency.directus.app/assets/{{ art_object.image }}" alt="{{ art_object.title }}">
                            <p>{{art_object.title}}</p>
                            <form action="/like/{{art_object.id}}" method="POST"><button type="submit">Give this a Like</button></form>
                        </a>
                    </article>
                </li>
                {% endfor %}
    
            </ul>
    
        </section>
    
        <section class="filter-and-search-container fullscreen-active">
            <ul class="filter-container">
                <li class="filter-button">
                    <button> All objects </button>
                </li>
                <li class="filter-button">
                    <button>Pottery</button>
                </li>
                <li class="filter-button">
                    <button> Islamic art </button>
                </li>
                <li class="filter-button">
                    <button> Tapestry </button>
                </li>
                <li class="filter-button">
                    <button> Glass </button>
                </li>
            </ul>
    
            <form role="search" action="" class="search-bar" >
                <label for="search">Search for artwork</label>
                <input class="search-input" type="search" name="search" placeholder="Look through the art" aria-label="Search for artwork">
            </form>
        </section>
        <!--End Gallery section-->
</main>

{% render 'partials/foot.liquid' %}